{% extends 'base.html' %}


{% block variable1 %}

<form method="post" action="{% url 'delete_employees' %}">
    {% csrf_token %}
    <h2>Selecciona los registros a eliminar y luego da click en el boton de borrar</h2>
    <ul>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
        
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }
        
            th {
                background-color: #f2f2f2; /* Optional: Background color for header cells */
            }
        </style>
        
        <table>
            <thead>
                <tr>
                    <th></th> <!-- Empty header for the checkbox column -->
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Empresa</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in instances %}
                    <tr>
                        <td><input type="checkbox" name="selected_instances" value="{{ instance.id }}"></td>
                        <td>{{ instance.id }}</td>
                        <td>{{ instance.nombre }}</td>
                        <td>{{ instance.apellido }}</td>
                        <td>{{ instance.empresa }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </ul>
    <button type="submit">Borrar empleados seleccionados</button>
</form>
<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        var confirmed = confirm("ALERTA!!! Estas seguro de querer eliminar estos empleados? esta accion es irreversible");
        if (!confirmed) {
            event.preventDefault(); // Prevent form submission if not confirmed
        }
    });
</script>

{% endblock variable1 %}