{% extends 'base.html' %}

{% block variable1 %}

    <p>Resultados de la busqueda de compañias</p>

    
    {% if instances %}        
        <ul>
            {% for instance in instances %}
                <li>{{instance.nombre}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No existen compañias con esas caracteristicas.</p>
    {% endif %}
    <a class="text-decoration-none" href="{% url 'search_company' %}">
        Regresar a formulario de busqueda
        <i class="bi bi-arrow-right"></i>

        
{% endblock variable1 %}