{% extends 'listcompanies.html' %}


{% block variable1com %}

    <h2>Registro correctamente actualizado</h2>
    
{% endblock variable1com %}

{% block editvar1 %}
    
        <tr>
            <td><input type="checkbox" name="selected_instances" value="{{ instances.id }}"></td>
            <td>{{ instances.id }}</td>
            <td>{{ instances.nombre }}</td>
            <td>{{ instances.rubro }}</td>
            <td >{{ instances.mail }}</td>
            <td>
                {% if instances.escliente %}
                    Cliente
                {% else %}
                    Proveedor
                {% endif %}
            <td>
                <button>
                    <a href="{% url 'list_companies' %}">Regresar a lista de compañias</a>
                </button>
            </td>
            </td>
        </tr>   
    
{% endblock editvar1 %}
    

    






    
    
    