{% extends 'base.html' %}

{% block variable1 %}

<h3 style="color:midnightblue">index cat 1</h3>
<ul>
    <li>
        <a href="{% url 'home' %}" style="color: maroon;">Pagina de inicio</a>
    </li>
    <li>
        <a href="{% url 'about' %}" style="color:maroon;">Acerca de nosotros</a>
    </li>
    <li>
        <a href="{% url 'list_companies' %}" style="color:maroon;">Listado de companias</a>
    </li>
    <li>
        <a href="{% url 'post_companies' %}" style="color:maroon;">agregar compania</a>
    </li>
    <li>
        <a href="{% url 'search_company' %}" style="color:maroon;">buscar compañia</a>
    </li>
    <li>
        <a href="{% url 'list_delete_companies' %}" style="color:maroon;">borrar compañias</a>
    </li>
    
    
</ul>

{% endblock variable1 %}

